@import url("main_style.css");

.drop-button:hover toProduct{
  display: none;
}

.side_bar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 1;
  background-color: black;
  opacity: 90%; 
  overflow-x: hidden;
  transition: 0.7s;  
  padding-top: 50px; 
}

.side_bar a {
  text-decoration: none;
  padding: 5px 5px 5px 30px;
  font-size: 28px;
  color: #cacaca;
  display: block;
}

.side_bar a:hover {
  color: #74c4e4;
}

.open_bar{
  font-size:30px;
  cursor:pointer
}

.side_bar .close_bar {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;

}

@media screen and (max-height: 450px) {
  .side_bar {
    padding-top: 15px;
  }
  .side_bar a {
    font-size: 18px;
  }
}

.product_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: center;
}
.product{
  padding: 1%;
  height: 45vh;
  width: 35vh;
  border: 1px groove #000000;
  border-radius: 5px;
  margin: 0.5em;
  background: rgb(39,51,136);
background: -moz-linear-gradient(132deg, rgba(39,51,136,0.40129555240064774) 6%, rgba(255,255,255,0.4937325271905637) 46%, rgba(11,14,133,0.40129555240064774) 97%);
background: -webkit-linear-gradient(132deg, rgba(39,51,136,0.40129555240064774) 6%, rgba(255,255,255,0.4937325271905637) 46%, rgba(11,14,133,0.40129555240064774) 97%);
background: linear-gradient(132deg, rgba(39,51,136,0.40129555240064774) 6%, rgba(255,255,255,0.4937325271905637) 46%, rgba(11,14,133,0.40129555240064774) 97%);  
}

.product_inside{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  word-break: break-all;
  overflow: hidden;
  font-size: 1em;
}
.product_inside img{
  width: 100%;
  height: 80%;
}


@media screen and (max-height: 740px){
  .product{
    height: 50vh;
    width: 45vh;
  }
  .product_inside img{
    height: 75%;
  }
}

@media screen and (max-height: 590px){
  .product_container{
    align-items: center;
  }
  .product{
    height: fit-content;
    width: 50vh;
  }
  .product_inside img{
    height: 50vh;
  }
}

.page_manager{
  display: flex;
  justify-content: center;
}
.pages{
  padding: 0%;
}
.page-item{
  width: 1.2em;
  text-align: center;
  vertical-align: middle;
  height: 1.2em;
  display: inline-block;
  font-size: 1.2em;
  background-color: rgba(129, 129, 129, 0.699);
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
}
.page-item a{
  text-decoration: none;
  color: #ffffff;
  margin: 0 0.5em;
  margin: auto;
}
.active_page{
  background-color: #ff6565;
  transition: 0.5s;
}
.active_page:hover{
  text-decoration: underline;
  background-color: #ff4848;
}
.inactive_page{
  transition: 0.5s;
}
.inactive_page:hover{
  background-color: rgba(129, 129, 129, 1);
  text-decoration: underline;
}


.buy_btn{
  display: none;
  display: block;
  padding: 0%;
  background-color: rgba(60, 255, 0, 0.678);
  background-image: url("../resorces/shopping-cart.png");
  background-repeat: no-repeat;
  background-size: 55% 55%;
  background-position: center;
  width: 20%;
  height: 15%;
  position: absolute;
  opacity: 0;
  transition: .5s all; 
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border-width: 0;
  margin: auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
.product_inside:hover .buy_btn{
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  cursor: pointer;
  opacity: 1;
}
.buy_btn:hover, .buy_btn:focus{
  transform: translatey(-6px);
  box-shadow:0px 6px 0px 0px rgba(0,0,0,0.73);
-webkit-box-shadow:0px 6px 0px 0px rgba(0,0,0,0.73);
-moz-box-shadow:0px 6px 0px 0px rgba(0,0,0,0.73);
  cursor: pointer;
}
@keyframes appearance {
  0% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
    visibility: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: 1;
  }
}
@-webkit-keyframes appearance {
  0% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
    visibility: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: 1;
  }
} 

.author_prod{
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-decoration: underline;
}
.title_prod{
  font-weight: bold;
}
.price_prod{
  font-size: 1.1em;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  text-decoration-line: underline;
  padding: 2%;
}
.product_inside:hover .price_prod{
  text-align: center;
}
.main_content h1{
  margin-top: 0;
}
.back_to_products{
  text-decoration: none;
  font-size: 2em;
  color: black;
  margin-left: 5px;
}

.product_inside .toProduct{
  display: block;
  font-weight: bold;
  opacity: 0;
  font-size: 1.2em;
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(60, 255, 0, 0.712);
  border-radius: 10px;
  transition: 0.5s all ease;
  border: none;
  outline: none;
}

.product_inside:hover .toProduct{
  opacity: 1;
}

.toProduct:hover, .toProduct:focus{
  box-shadow:0px -10px 0px 0px rgba(0,0,0,0.83);
-webkit-box-shadow:0px -10px 0px 0px rgba(0,0,0,0.83);
-moz-box-shadow:0px -10px 0px 0px rgba(0,0,0,0.83);
transform: translateY(10px);
cursor: pointer;
background-color: rgba(60, 255, 0, 0.83);
font-size: 1.4em;
}